<div class="ui inverted dimmer" [class.active]=loading>
  <div class="ui text loader">
    Loading
  </div>
</div>
<div class="jumbotron bg-light text-center">
  <div class="dropdown" style="text-align: right;">
    <button class="btn dropdown-toggle" style="background-color:lightsteelblue" data-toggle="dropdown">Download</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="downloadAll()">covid19 report for top 30 states</a>
      <a class="dropdown-item" (click)="downloadSelected()">covid19 report for selected state</a>
    </div>
  </div>
  <h1 class="display-4">Covid-19 across tamilnadu</h1>
  <hr>
  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="cs">Select district</label>
      <select name="" class="form-control" id="cs" #input (change)="updateValues(input.value)">
        <option value="{{district}}" *ngFor="let district of districts">{{district}}</option>
      </select>
    </div>
  </div>
  <app-dashboard-card [totalConfirmed]='totalConfirmed'
    [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'>
  </app-dashboard-card>
<hr>
<div class="fluid-container">
<div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select Case Type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input id="c" type="radio" value="c" name="caseType" #c checked tabindex="0" class="hidden" (click)="updateChart(c)">
        <label for="c">Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input id="d" type="radio" value="d" #d name="caseType" tabindex="0" class="hidden" (click)="updateChart(d)">
        <label for="d">Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input id="r" type="radio" value="r" #r name="caseType" tabindex="0" class="hidden" (click)="updateChart(r)">
        <label for="r">Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input id="a" type="radio" value="a" #a name="caseType" tabindex="0" class="hidden" (click)="updateChart(a)">
        <label for="a">Active</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <google-chart [type]="chart.PieChart" [height]="chart.height" [options]="chart.options" [data]="datatable" style="width: 100%;"></google-chart>
  </div>
  <div class="col">
    <google-chart [type]="chart.ColumnChart" [height]="chart.height" [options]="chart.options" [data]="datatable" style="width: 100%;"></google-chart>
  </div>
</div>
</div>
</div>
